version: '3'

services:
  elasticsearchapp:
    image: ${DOCKER_REGISTRY-}elasticsearchapp
    build:
      context: .
      dockerfile: ElasticSearchApp/Dockerfile
    deploy:
      mode: replicated
      replicas: 3
      
  postgresapp:
    image: ${DOCKER_REGISTRY-}postgresapp
    build:
      context: .
      dockerfile: PostgresApp/Dockerfile
    deploy:
      mode: replicated
      replicas: 3
      
  microservicesample:
    image: ${DOCKER_REGISTRY-}microservicesample
    build:
      context: .
      dockerfile: MicroServiceSample/Dockerfile
    deploy:
      mode: replicated
      replicas: 3
    ports:
      - "80:80"  

